<div class="alert alert-warning d-flex align-items-center bg-red" role="alert">
	<span><%= @count_contracts_due_in_90_days %> contratos administrativos com vencimento previsto para 90 dias </span>
</div>


<div class="card">

  	<div class="card-header">
    	<p>Quantidade de Contratos por Data de Início</p>
  	</div>
	
	<div class="card-body">
   		<%= area_chart(@count_start_date, {adapter: 'google'})%>
	</div>

</div> 